/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #030542, #3f339f);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

/* Header styles */
.header {
    padding: 120px;
    text-align: center;
    padding-top: 45px;
}

/* Heading styles */
h1 {
    margin: 0 auto; /* Center horizontally */
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center; /* Align text to the center */
    margin-bottom: 20px;
    font-size: clamp(32px, 5vw, 58px); /* Fluid font size */
    max-width: clamp(300px, 50%, 800px); /* Fluid max-width */
}

/* Input section */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    height: 50px;
}

.email-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 0;
    padding-left: 16px;
}

/* Sign up button styles */
.sign-up-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    height: 46px;
    margin-right: 2px;
}

.sign-up-button:hover {
    background-color: #1a7f37;
}

/* Logo styles */
.logo {
    margin-top: 20px;
}

.button-logo {
    background-color: transparent;
    border: none;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade-in animation applied to elements */
.fade-in {
    opacity: 0; /* Start hidden */
    animation: fadeIn 1.5s ease-in forwards; /* 1.5s duration, ease-in timing, forward fill */
}
